.title{
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
  }
  
.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  padding: 25px;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.inputGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.inputGroup label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

.inputGroup input {
  height: 40px;
  padding: 8px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  padding: 12px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #0056b3;
}
